DATABASE_URL="mysql://user:pass@localhost:3306/db"
NEXTAUTH_SECRET="MNrKMC06MYBB1CDiBiUDTmt9TbZKgt5QuWa6vlMHmic="
NEXTAUTH_URL="http://localhost:3000"
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_USER="user"
SMTP_PASS="password"
MAIL_FROM_NAME="Example"
MAIL_FROM_EMAIL="no-reply@example.com"
PASSWORD_MIN_LENGTH="8"
